@import 'partials/variables';

@import 'partials/fonts';

@font-face {
    font-family: 'Avenir';
    src: url(./fonts/Alternative-files/Linotype-AvenirNextLTProMedium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url(./fonts/Alternative-files/Linotype-AvenirNextLTProDemi.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url(./fonts/Alternative-files/Linotype-AvenirNextLTProBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*.header {*/

    .header__nav {
        background-color: $primary-color;
        margin-bottom: 0;
        height: 80px;
    }

    .header__nav-logo {
        display: flex;
        margin: 0 auto;
        padding-top: 5%;
        
    }
    .header__nav-list {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .nav__list-item {
        border-bottom: 5px solid $font-color;
        padding-bottom: 0;
        height: 3.6vh;
        width: 100%;
    }

    /*.nav__list-item--active .nav__link:hover {
        border-bottom: 5px solid $font-color;
        padding-bottom: 0;
        height: 3.6vh;
        width: 50%;
    }

    .nav__list-item--active:active {
        border-bottom: 5px solid $font-color;
        padding-bottom: 0;
        height: 3.6vh;
        width: 50%;
    }*/

    .nav__link {
        display: flex;
        padding: 0 18vw 4vh 14vw;
        font-family: 'Avenir';
        font-size: 14px;
        color: #E1E1E1;
    
    }

    .hero__overlay {
        position: relative;
    }
    
    .hero__overlay:after {
        content:'';
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height: 27vh;
        background: rgba(50, 50, 50, 0.5);
        filter: opacity(50%);
    }
    
    .hero__image {
        width: 100%;
        height: 27vh;
        margin-top: 0; 
    }
    
    .header__nav .header__nav-list {
        list-style-type: none;
    }
    
    .nav__list-item .nav__link {
        text-decoration: none;
    }

.hero {
    position: relative;
}

    .hero__header {
        position: absolute;
        top: 20%;
        left: 5%;
        font-size: 24px;
        line-height: 5vh;
        color: $font-color;
        font-family: 'Avenir Next';
        font-weight: bold;
        font-style: normal;
    }

    .about__header {
        color: $primary-color;
        font-family: 'Avenir Next';
        font-size: 24px;
        margin: 4vh 5vw 3vh 5vw;
}

    .about__image {
        width: 43vh;
        margin-left: 5vw;
        margin-right: 5vw;
}

    .about__quote-text {
        color: $primary-color;
        font-family: "Avenir Next Demi";
        font-weight: bold;
        font-size: 16px;
        line-height: 3vh;
        margin: 4vh 5vw 3vh 5vw;
}

    .about__quote-author {
        color: $primary-color;
        font-family: "Avenir Next Demi";
        font-weight: bold;
        font-size: 14.5px;
        margin: 4vh 5vw 6vh 5vw;
}

    .about__autobiography-names {
        color: $primary-color;
        font-family: "Avenir Next Demi";
        font-weight: bold;
        font-size: 16px;
        margin: 4.5vh 5vw 3vh 5vw;
}

    .about__paragraph-first, 
    .about__paragraph-second {
        color: $primary-color;
        font-family: "Avenir";
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        margin: 3vh 5vw 3vh 5vw;
        line-height: 3vh;
    }

    .gallery__header {
        color: $primary-color;
        font-family: "Avenir Next";
        font-size: 24px;
        margin: 8vh 5vw 3vh 5vw;
}

    .gallery__image {
        display: flex;
        flex-direction: column;
        width: 43vh;
        margin-bottom: 3vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .footer {
        background-color: $primary-color;
        height: 130%;
        margin-top: 20%;
    }
    .footer__header {
        font-size: 40px;
        color: $font-color;
        font-family: "Avenir Next";
        margin-left: 5vw;
        margin-right: 5vw;
        padding-top: 7vh;
}

    .footer__image {
        margin-left: 5vw;
        height: 3%;
        padding-right: 5vw;
        padding-bottom: 3vh;
}

    .footer__contact-name {
        color: $font-color;
        font-family: "Avenir Next Demi";
        font-size: 15px;
        margin-left: 5vw;
        line-height: 3.5vh;
}

    .footer__contact-address {
        font-family: "Avenir";
        font-size: 15px;
        color: $font-color;
        margin-left: 5vw;
        line-height: 3.5vh;
}

    .footer__contact-email {
        font-family: "Avenir";
        font-size: 15px;
        color: $font-color;
        margin-left: 5vw;
        padding-top: 2vh;
        line-height: 3.5vh;
}

    .footer__copyright {
        font-family: "Avenir";
        font-size: 15px;
        color: $font-color;
        margin-left: 5vw;
        padding-top: 4vh;
        line-height: 3.5vh;

    }

@media only screen and (min-width: 768px) {

    .header__nav-logo {
        display: flex;
        margin-left: 4%;
        padding-top: 4%;
        
    }

    .header__nav-list {
        display: flex;
        justify-content: center;
        padding-left: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav__list-item {
        display: flex;
        border-bottom: none;
        padding-bottom: 0;
        width: 20%;
        margin-top: -2%;
        
    }

    .nav__link {
        display: flex;
        padding: 0;
        font-family: 'Avenir';
        font-size: 14px;
        color: #E1E1E1;
    
    }
    
    .hero__overlay:after {
        height: 54vh;
    }
    
    .hero__image {
        height: 54vh;
    }
    
    .hero__header {
        position: absolute;
        top: 15%;
        left: 4%;
        font-size: 60px;
        line-height: 12.5vh;
        color: $font-color;
        font-family: 'Avenir Next';
        font-weight: bold;
        font-style: normal;
    }

    .about__header {
        font-size: 40px;
        margin: 6vh 5vw 5vh 5vw;
}

    .about__image {
        width: 112vh;
}

    .about__quote-text {
    font-size: 25px;
    line-height: 5vh;
    margin: 6vh 5vw 3vh 5vw;
}
    .about__quote-author {
    font-size: 20px;
    margin: 5.5vh 5vw 6vh 5vw;
}

    .about__autobiography-names {
    font-size: 25px;
    margin: 7vh 5vw 3vh 5vw;
}

    .about__box {
        display: flex;
        justify-content: center;
    }

    /*.about__paragraph-box {
    }*/

    .about__paragraph-first, 
    .about__paragraph-second {
    display: flex;
    font-size: 14.2px;
    /*margin: 3vh 5vw 3vh 5vw;*/
    line-height: 4vh;
}

    .gallery__header {
    font-size: 35px;
    margin-bottom: 8vh;
}

    .gallery__layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .gallery__image {
        display: flex;
        width: 35vh;
        margin-bottom: 3vh;
        margin: 0 auto;
        margin-bottom: 4vh;
    }

    .footer {
        height: 130%;
        margin-top: 4%;
    }
}