@font-face {
    font-family: 'Avenir';
    src: url(./fonts/Alternative-files/Linotype-AvenirNextLTProMedium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url(./fonts/Alternative-files/Linotype-AvenirNextLTProDemi.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url(./fonts/Alternative-files/Linotype-AvenirNextLTProBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}