@import 'partials/variables';

@import 'partials/fonts';

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Avenir';
}

// header

.header {

    &__nav {
    background-color: $primary-color;
    margin-bottom: 0;
    height: 80px; 
    list-style-type: none;

    }

    &__nav-logo {
    display: flex;
    margin: 0 auto;
    padding-top: 5%;

    @include tablet {
        margin-left: 4%;
        padding-top: 4%;
    }
  }

    &__nav-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 0.8rem;
    list-style-type: none;

    @include mobile-medium {
        margin-top: 0.6rem;
    }

    @include mobile-large {
        margin-top: 0.5rem; 
    }

    @include tablet {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1vw;
    }
 }
}
.nav__list-item {
    padding-bottom: 1.3rem;
    height: 1.3rem;
    width: 100%;

    @include tablet {
        padding-bottom: 0;
        margin-top: -2%;
        width: 18%;
        margin-right: 9vw;
        padding-left: 1vw;
    }
}

.nav__list-item--active {
    color: $font-color;
    border-bottom: 5.6px solid $font-color;
    padding-bottom: 0.35rem;
    width: 50%;
    font-weight: bold;

    @include mobile-medium {
        padding-bottom: 0.4rem;
        width: 100%;
    }

    @include tablet {
        padding-bottom: 1.2rem;
        width: 10%;
    }
}

.nav__link {
    display: flex;
    padding: 0 18vw 2rem 15vw;
    font-size: 14px;
    color: #E1E1E1;

    @include mobile-medium {
        padding: 0 10vw 1.5rem 17vw;
    }

    @include mobile-large {
        padding: 0 11vw 1.5rem 17vw;
    } 

    @include tablet {
        padding: 0;
        font-size: 14px; 
    }
}
    

.nav__link:hover {
    text-transform: uppercase;
}
    
.nav__list-item .nav__link {
    text-decoration: none;
}

//hero

.hero {
    position: relative;

    &__overlay {
    position: relative;
    }

    &__overlay:after {
    content:'';
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 267px;
    max-height: 183px;
    background: rgba(50, 50, 50, 0.5);
    filter: opacity(50%);

    @include tablet {
        height: 400px;
        max-height: 800px;
    }
    }

    &__image {
    width: 100%;
    height: 267px;
    max-height: 183px;
    margin-top: 0; 

    @include tablet {
        height: 400px;
        max-height: 800px; 
    }
    }

    &__header {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: $header-font-size;
    line-height: 2rem;
    color: $font-color;
    font-family: 'Avenir Next';
    font-weight: bold;
    font-style: normal;

    @include mobile-medium {
        font-size: 28px;
        line-height: 2.4rem;
    }

    @include tablet {
        position: absolute;
        top: 15%;
        left: 4%;
        font-size: 60px;
        line-height: 5rem;
    }
 }
}
// about

.about {
    
    &__header {
    color: $primary-color;
    font-family: 'Avenir Next';
    font-size: $header-font-size;
    margin: 1.5rem 5vw 1rem 5vw; 

    @include tablet {
        font-size: 35.5px;
        margin: 2.5rem 5vw 2rem 4vw;
    }
    }

    &__image {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;

    @include tablet {
        width: 92vw;
        margin-left: 4vw;  
    }
    }

    &__quote-text{
    color: $primary-color;
    font-family: 'Avenir Next';
    font-weight: bold;
    font-size: 16px;
    line-height: 3.5vh;
    margin: 1.5rem 5vw 1rem 5vw; 

    @include tablet {
        font-size: 23.5px;
        line-height: 6vh;
        margin: 2.5rem 7vw 1rem 4vw;
    }
    }

    &__quote-author {
    color: $primary-color;
    font-weight: bold;
    font-size: 14.5px;
    margin: 1.5rem 5vw 2rem 5vw;

    @include tablet {
        font-size: 20px;
        margin: 2rem 5vw 2.5rem 3.5vw;
    }
    }

    &__autobiography-names {
    font-family: 'Avenir Next';
    color: $primary-color;
    font-weight: bold;
    font-size: 16px;
    margin: 1.5rem 5vw 0.5rem 5vw;

    @include tablet {
        font-size: 25px;
        margin: 3rem 5vw 0vh 3.5vw;
    }
    }

    &__box {
        @include tablet {
            display: flex;
            justify-content: center;
    }

}

    &__paragraph-first,
    &__paragraph-second {
    color: $primary-color;
    font-size: 12.2px;
    margin: 0.7rem 5vw 1rem 5vw;
    line-height: 1.3rem;   

    @include tablet {
        display: flex;
        font-size: 14.2px;
        line-height: 1.5rem;
        margin-left: 3.5vw;
        margin-right: 2.5vw;
        margin-top: 1rem;  
    }
  }
}
// gallery

.gallery {
    background-color: #FAFAFA;
    padding-bottom: 5vh;

    &__header {
    color: $primary-color;
    font-family: "Avenir Next";
    font-size: $header-font-size;
    margin: 8vh 5vw 3vh 5vw;
    padding-top: 4vh;

    @include tablet {
        font-size: 35px;
        padding-top: 2.5rem;
        margin-bottom: 3rem;
        margin-left: 3.5vw;
    }
  }

    &__layout {

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: 2vw;
            margin-right: 2vw;
    }

}

    &__image {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-bottom: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    filter: gray;
    -webkit-filter: grayscale(100%);

    @include tablet {
        width: 29vw;
        margin-bottom: 3vh;
        margin: 0 auto;
        margin-bottom: 4vh;
    }
    }

    &__image:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    }
 }
// comments 

.comments {

    &__header {
    color: $primary-color;
    font-family: "Avenir Next";
    font-size: $header-font-size;
    margin: 1.5rem 5vw 1.8rem 5vw;
    padding-top: 1.5rem; 

    @include mobile-medium {
        font-size: 28px;
    }

    @include mobile-large {
        font-size: 32px;
    }

    @include tablet {
        font-size: 35px; 
    }
    }

    &__image {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    margin: 1rem 0vw 0rem 5vw;
    
    @include tablet {
        margin-left: 15vw; 
    }
  }
}


form {
    margin-left: 28vw;
    margin-top: -5rem;

    @include mobile-medium {
        margin-left: 25vw;
    }

    @include mobile-large {
        margin-left: 23vw;
    }

    @include tablet {
        margin-left: 25vw;
    }
}

label {
    font-size: 16px;
    color: #AFAFAF;
    font-weight: bold;
}

#name {
    height: 40px;
    width: 202px;
    color: #323232;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #323232;
    background-color: #FAFAFA;
    margin-bottom: 1rem;
    margin-top: 0.2rem;

    @include mobile-medium {
        width: 247px;
    }

    @include mobile-large {
        width: 292px;
        height: 50px;
    }

    @include tablet {
        height: 45px;
        width: 430px;
    }
}

#comment {
    height: 90px;
    width: 202px;
    color: #323232;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #E1E1E1;
    background-color: #FAFAFA;
    margin-top: 0.2rem;

    @include mobile-medium {
        width: 247px;
    }

    @include mobile-large {
        width: 292px;
        height: 120px;
    }

    @include tablet {
        height: 110px;
        width: 430px;
        margin-top: 0.2rem;
        margin-bottom: 4rem;
    }
}

#submit {
    height: 50px;
    width: 209px;
    color: #323232;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #323232;
    background-color: $primary-color;
    color: $font-color;
    font-weight: bold;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: 'Avenir';

    @include mobile-medium {
        width: 256px;
    }

    @include mobile-large {
        width: 301px;
        height: 50px;
    }

    @include tablet {
        height: 50px;
        width: 209px;
        margin-top: 5rem;
        margin-bottom: 1.5rem;
        margin-left: -28vw; 
    }
}

::placeholder {
    font-size: 15px;
    color: $primary-color;
    padding-left: 3vw;
    padding-top: 0.5rem;
    font-family: 'Avenir';

    @include mobile-medium {
        font-size: 17px;
    }

    @include mobile-large {
        font-size: 20px;
    }

    @include tablet {
        font-size: 18px;
        padding-left: 2vw;
        padding-top: 0.8rem;
    }
}

.comments__container-posted {
    width: 100%;
}
.comments__underline {
    display: inline-block;
    border-bottom: 2px solid #E1E1E1;
    margin: 0.5rem 5vw 0.5rem 5vw;
    width: 90%;

    @include tablet {
        margin: -1rem 5vw 0.7rem 14vw;
        width: 67%;
    }
}

.comments__circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #E1E1E1;
    margin: 0.8rem 0vw 0vh 5vw;

    @include tablet {
        margin: 0.5rem 0vw 0vh 14vw; 
    }

}

.comments__username {
    font-weight: bold;
    color: $primary-color;
    font-size: 14px;
    margin-left: 28vw;
    margin-top: -8.5vh;

    @include mobile-large {
        margin-left: 22vw;
        margin-top: -3rem;
    }

    @include tablet {
        font-size: 16px;
        margin-left: 23vw;
        margin-top: -3rem; 
    }
}
.comments__date{
    color: #AFAFAF;
    font-size: 14px;
    margin-left: 75vw;
    margin-right: 5vw;
    margin-top: -2.7rem;

    @include mobile-large {
        margin-left: 80vw;
    }

    @include tablet {
        font-size: 16px;
        margin-left: 42vw;
        margin-right: 5vw;
        margin-top: -3rem;
    }

}
.comments__post {
    color: $primary-color;
    font-size: 13px;
    margin-right:8vw;
    margin-left: 28vw;

    @include mobile-large {
        margin-left: 22vw;
    }

    @include tablet {
        font-size: 14px;
        margin-right:18vw;
        margin-left: 23vw; 
    }

}

// footer 

.footer {
    background-color: $primary-color;
    height: 130%;
    margin-top: 7%;

    @include tablet {
        height: 68%;
        margin-top: 2%;
    }

    &__header {
    font-size: 40px;
    color: $font-color;
    font-family: "Avenir Next";
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 3.2rem;

    @include tablet {
        padding-top: 1rem;
        margin-bottom: 0;
        margin-right: 0;
        width: 300px;
        margin-left: 3.5vw;
        font-size: 38px;
    }
    }

    &__container {
            @include tablet {
            display: inline-block; 
         } 
        }

    &__social {
        @include tablet {
            margin-left: 40vw;
            margin-top: -2.3rem;
            width: 400px; 
          }
        }

    &__image {
    margin-left: 5vw;
    height: 28px;
    padding-right: 5vw;
    padding-bottom: 1rem;

    @include tablet {
        height: 22px;
        margin-left: 0; 
    }
}

    &__block {
        @include tablet {
            margin-top: -2.8rem;
        }
    }

    &__logo {
    display: none;   


    @include tablet {
        margin-left: 80vw;
        height: 20px;
        display: inline-block;
    }
    }

    &__contact {

        @include tablet {
            display: inline-block;
            margin-top: 2.5rem;
            margin-left: -1vw; 
        }
    }

    &__contact-name {
    color: $font-color;
    font-size: $footer-font-size;
    margin-left: 5vw;
    line-height: 1.3rem; 

    @include tablet {
        font-size: 16px;
        line-height: 1.5rem; 
    }
    }

    &__contact-address {
    font-size: $footer-font-size;
    color: $font-color;
    margin-left: 5vw;
    line-height: 1.3rem;

    @include tablet {
        font-size: 14px;
        line-height: 1.5rem; 
    }
    }

    &__contact-email {
    font-size: $footer-font-size;
    color: $font-color;
    margin-left: 5vw;
    padding-top: 0.5rem;
    line-height: 1.3rem; 


    @include tablet {
        font-size: 14px;
        line-height: 1.5rem; 
    }

    }

    &__contact-link {
    text-decoration: none;
    }

    &__copyright {

    font-size: $footer-font-size;
    color: $font-color;
    margin-left: 5vw;
    padding-top: 1.5rem;
    line-height: 1.3rem;
    width: 70%;

    @include mobile-medium {
        width: 60%;
    }

    @include mobile-large {
        width: 55%;
    }

    @include tablet {
        visibility: visible;
        margin-left: 3.6vw;
        font-size: 14px;
    }

  }
}

// media query desktop 1024px

@media only screen and (min-width: 1024px) {
    
    .header__nav-logo {
        padding-top: 3%;
        margin-left: 15vw;
        
    }

    .header__nav-list {
        display: flex;
        justify-content: center;
        margin-left: 1vw;
        margin-top: 0.4rem;
    }

    .nav__list-item {
        width: 13%;
    }
    
    .nav__list-item--active {
        color: $font-color;
        border-bottom: 5.6px solid $font-color;
        padding-bottom: 1.15rem;
        width: 7.8%;
        font-weight: bold;
        margin-right: 5vw;
    }

    .hero__overlay:after {
        height: 520px;
        max-height: 600px;
    }
    
    .hero__image {
        height: 520px;
        max-height: 600px;
    }

    .hero__header {
        top: 24%;
        left: 15%;
        font-size: 55px;
        line-height: 4.5rem;
    }

    .about__header {
        margin-left: 12.5vw;
        margin-bottom: 2rem;
        font-size: 30px;
    }

    .about__image {
        width: 63vw;
        display: flex;
        margin-left: 20vw;
        margin-right:20vw;
    }

    .about__quote-text {
        margin-left:20vw;
        font-size: 18px;
        line-height: 1.7rem;
        margin-right: 19vw;
        margin-top: 2rem;
    }

    .about__quote-author {
        margin-left: 20vw;
        font-size: 15px;
        margin-top: 1.5rem;
    }

    .about__autobiography-names {
        margin-left: 20vw;
        font-size: 20px;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    .about__paragraph-first, 
    .about__paragraph-second {
        display: flex;
        font-size: 11.5px;
        line-height: 1.2rem;
    }

    .about__box {
        margin-left: 16.5vw;
        margin-right: 15vw;
    }

    .gallery__header {
        margin-left: 12.5vw;
        font-size: 30px;
        margin-bottom: 3rem;
        margin-top: 2.5rem;
    }

    .gallery__layout {
        margin-left: 11.5vw;
        margin-right: 11.5vw;
        margin-top: 3vh;
    }

    .gallery__image {
        width: 24vw;
        margin-bottom: 4vh;
    }

    .comments__image {
        margin: 8vh 0vw 2vh 28.5vw;
        height: 50px;
        width: 50px;
}   
    .comments__header {
        font-size: 26px;
        margin-left: 12vw;
    }

    form {
        margin-left: 35vw;
    }

    label {
        font-size: 14px;
    }
    
    #name {
        height: 40px;
        width: 370px;
    }
    
    #comment {
        height: 90px;
        width: 370px;
        margin-top: 0.2rem;
        margin-bottom: 4rem;
    }
    
    #submit {
        height: 45px;
        width: 175px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        margin-left: -17.5vw;
        font-size: 15px;
    }
    
    ::placeholder {
        font-size: 14px;
        padding-left: 1vw;
        padding-top: 0.8rem;
    }

    .comments__underline {
        margin: 0.5rem 5vw 0.9rem 25vw;
        width: 47%;
    }
    
    .comments__circle {
        margin: 1rem 0vw 0vh 25vw;
    
    }
    
    .comments__username {
        font-size: 14px;
        margin-left: 31.5vw;
        margin-top: -3.5rem;
    }
    .comments__date{
        font-size: 14px;
        margin-left: 44vw;
        margin-right: 5vw;
        margin-top: -2.7rem;
    }
    .comments__post {
        font-size: 14px;
        margin-right:28vw;
        margin-left: 31.5vw;
    
    }

    .footer {
        height: 53%;
        max-height: 400px;
        margin-top: 0.5rem;
    }
    .footer__header {
        margin-left: 12.5vw;
        font-size: 30px;
    }

    .footer__social {
        margin-left: 38vw;
        margin-top: -1.8rem;
        width: 300px;
    }

    .footer__image {
        height: 17px;
        margin-left: -2.5vw;

    }

    .footer__logo {
        margin-left: 79vw;
        height: 15px;
    }

    .footer__contact {
        display: inline-block;
        margin-top: 2.5rem;
        margin-right: -6vw;
        margin-left: 7.5vw;
    }

    .footer__contact-name {
        font-size: 12px;
        margin-bottom: 0.5rem;
    }

    .footer__contact-address {
        font-size: 11px;
    }

    .footer__contact-email {
        font-size: 11px;
        margin-top: -0.5vw;
        margin-bottom: -0.2rem;
    }

    .footer__copyright {
        margin-left: 12.5vw;
        font-size: 12px;

    }

}

// media query desktop 1200px

    @media only screen and (min-width: 1200px) {
    
        .header__nav-logo {
            padding-top: 2.5%;
            margin-left: 15vw;
            
        }
    
        .header__nav-list {
            display: flex;
            justify-content: center;
            margin-left: -4vw;
            margin-top: 0.65rem;
        }
    
        .nav__list-item {
            width: 10%;
        }
        
        .nav__list-item--active {
            color: $font-color;
            border-bottom: 5.6px solid $font-color;
            padding-bottom: 1.15rem;
            width: 7%;
            font-weight: bold;
            margin-right: 5vw;
        }

        .hero__overlay:after {
            height: 800px;
        }
        
        .hero__image {
            height: 800px;
            margin-top: 0; 
        }
    
        .hero__header {
            top: 24%;
            left: 15%;
            font-size: 55px;
            line-height: 4.5rem;
        }
    
        .about__header {
            margin-left: 12.5vw;
            margin-bottom: 2.5rem;
        }
    
        .about__image {
            width: 63vw;
            display: flex;
            margin-left: 20vw;
            margin-right:20vw;
        }
    
        .about__quote-text {
            margin-left:20vw;
            font-size: 20px;
            line-height: 2rem;
            margin-right: 25vw;
        }
    
        .about__quote-author {
            margin-left: 20vw;
            font-size: 15px;
        }
    
        .about__autobiography-names {
            margin-left: 20vw;
            font-size: 20px;
        }
    
        .about__paragraph-first, 
        .about__paragraph-second {
            display: flex;
            font-size: 11.5px;
            line-height: 1.5rem;
        }
    
        .about__box {
            margin-left: 16.5vw;
            margin-right: 16.5vw;
        }

        .gallery__image {
            margin-bottom: 4vh;
        }
    
        .gallery__header {
            margin-left: 12.5vw;
        }

        .comments__image {
            margin: 1.5rem 0vw 1rem 30vw;
    }   
        .comments__header {
            font-size: 31px;
        }
    
        form {
            margin-left: 36vw;
        }
        
        #name {
            width: 380px;
        }
        
        #comment {
           width: 380px;
        }
        
        #submit {
            margin-left: -13vw;
            margin-bottom: 1rem;
        }

        .comments__underline {
            margin: 0.5rem 5vw 1rem 25vw;
            width: 44%;
        }
        
        .comments__circle {
            margin: 0.5rem 0vw 0vh 25vw;
        
        }
        
        .comments__post {
            font-size: 14px;
            margin-right:30vw;
            margin-left: 31.5vw;
        
        }
        
        .footer {
            height: 53%;
            max-height: 400px;
            margin-top: 1rem;
        }
    
        .footer__social {
            margin-left: 37vw;
            margin-top: -2rem;
            width: 300px;
        }
    
        .footer__image {
            height: 18px;
            margin-left: -2.5vw;
        }
    
    
        .footer__logo {
            margin-left: 80vw;
        }
    
        .footer__contact {
            display: inline-block;
            margin-top: 2.5rem;
            margin-right: -6vw;
            margin-left: 7.5vw;
        }
    
        .footer__contact-name {
            font-size: 13px;
            margin-bottom: 0.5rem;
        }
    
        .footer__contact-address {
            font-size: 12px;
        }
    
        .footer__contact-email {
            font-size: 12px;
            margin-top: -0.5vw;
            margin-bottom: -0.2rem;
        }
    
        .footer__copyright {
            margin-left: 12.5vw;
            font-size: 13px;
    
        }
    }
