@import 'partials/variables';

@import 'partials/fonts';

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

// header 

.header__nav {
    background-color: $primary-color;
    margin-bottom: 0;
    height: 80px;
}

.header__nav-logo {
    display: flex;
    margin: 0 auto;
    padding-top: 5%;       
}

.header__nav-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 2vh;
}

.nav__list-item {
    padding-bottom: 2vh;
    height: 3.6vh;
    width: 100%;
}

.nav__link {
    display: flex;
    padding: 0 18vw 4vh 15vw;
    font-family: 'Avenir';
    font-size: 14px;
    color: #E1E1E1;
}
    
.nav__link:active,
.nav__link:hover {
    color: $font-color;
    border-bottom: 5px solid $font-color;
    padding-bottom: 1.8vh;
    text-transform: uppercase; /* i added this effect for the diving deeper section*/
}
    
.header__nav .header__nav-list {
    list-style-type: none;
}
    
.nav__list-item .nav__link {
    text-decoration: none;
}

//hero

.hero {
    position: relative;
}

.hero__overlay {
    position: relative;
}
    
.hero__overlay:after {
    content:'';
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 83vh;
    background: rgba(50, 50, 50, 0.5);
    filter: opacity(50%);
}
    
.hero__image {
    width: 100%;
    height: 83vh;
    margin-top: 0; /* how to make the image not stretched bigger screen size */
}

.hero__header {
    position: absolute;
    top: 1.5%;
    left: 5%;
    font-size: 15px;
    color: $font-color;
    font-family: 'Avenir';
    font-weight: bold;
}

.hero__header-song {
    position: absolute;
    top: 2.5%;
    left: 5%;
    font-size: 36.5px;
    line-height: 8vh;
    color: $font-color;
    font-family: 'Avenir Next';
    font-weight: bold;
    font-style: normal;
}

iframe {
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px 5px 5px 5px;
    top: 11.5%;
}

// shows

.shows__header {
    color: $primary-color;
    font-family: 'Avenir Next';
    font-size: 30px;
    margin: 4vh 5vw 5vh 5vw;
}

.shows__date,
.shows__venue,
.shows__location {
    font-family: 'Avenir';
    font-size: 16px;
    color: #AFAFAF;
    margin: 3vh 5vw 2vh 5vw;
}

.shows__date-details {
    font-family: 'Avenir';
    font-size: 18px;
    color: $primary-color;
    margin: 2vh 5vw 3.5vh 5vw;
    font-weight: bold;
}
.shows__venue-details,
.shows__location-details {
    font-family: 'Avenir';
    font-size: 15px;
    color: $primary-color;
    margin: 2vh 5vw 3vh 5vw;
}

.shows__button {
    height: 48px;
    width: 288px;
    margin: 2vh 5vw 1.5vh 5vw;
    background-color: $primary-color;
    color: $font-color;
    font-family: 'Avenir';
    font-weight: bold;
    font-size: 15px;
    border: $primary-color;
    border-radius: 5px 5px 5px 5px; /* button isn't clickable*/
}

.shows__button-underline {
    display: inline-block;
    border-bottom: 2px solid #E1E1E1;
    margin: 1.5vh 5vw 2vh 5vw;
    width: 90%;
}
// footer 

.footer {
    background-color: $primary-color;
    height: 135%;
    margin-top: 10%;
}

.footer__header {
    font-size: 40px;
    color: $font-color;
    font-family: "Avenir Next";
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 7vh;
}

.footer__image {
    margin-left: 5vw;
    height: 28px;
    padding-right: 5vw;
    padding-bottom: 3vh;
}
    
.footer__logo {
    display: none;
}

.footer__contact-name {
    color: $font-color;
    font-family: "Avenir";
    font-size: $footer-font-size;
    margin-left: 5vw;
    line-height: 3.5vh;
}

.footer__contact-address {
    font-family: "Avenir";
    font-size: $footer-font-size;
    color: $font-color;
    margin-left: 5vw;
    line-height: 3.5vh;
}

.footer__contact-email {
    font-family: "Avenir";
    font-size: $footer-font-size;
    color: $font-color;
    margin-left: 5vw;
    padding-top: 2vh;
    line-height: 3.5vh;
}

.footer__contact-link {
    text-decoration: none;
}

.footer__copyright {
    font-family: "Avenir";
    font-size: $footer-font-size;
    color: $font-color;
    margin-left: 5vw;
    padding-top: 4vh;
    line-height: 3.5vh;
    width: 70%;
}

@media only screen and (min-width: 375px) {
    
    .hero__header-song {
        position: absolute;
        top: 2.5%;
        left: 5%;
        right: 8%;
        font-size: 37px;
        line-height: 8vh;
    }
    
    .header__nav-list {
        margin-top: 1.5vh;
    }

    .nav__link {
        padding: 0 10vw 4vh 17vw;
      
    }

    .nav__link:active,
    .nav__link:hover {
        color: $font-color;
        border-bottom: 5px solid $font-color;
        padding-bottom: 1.5vh;
    }

    .shows__button {
        width: 340px;
    }
}

@media only screen and (min-width: 425px) {
    
    .hero__header-song {
        position: absolute;
        top: 2.5%;
        left: 5%;
        right: 18%;
        font-size: 37px;
        line-height: 8vh;
    }

    .shows__button {
        width: 382px;  
    }
}

@media only screen and (min-width: 768px) {
    .header__nav-logo {
        margin-left: 4%;
        padding-top: 4%;
        
    }

    .header__nav-list {
        padding-left: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -4vw;
    }

    .nav__list-item {
        padding-bottom: 0;
        width: 20%;
        margin-top: -2%;
        width: 18%;
        
    }

    .nav__link {
        padding: 0;
        font-size: 14px;
    
    }

    .nav__link:active,
    .nav__link:hover {
        color: $font-color;
        border-bottom: 5px solid $font-color;
        padding-bottom: 4vh;
        width: 60%;
    }

    .hero__overlay:after {
        content:'';
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height: 115vh;
        background: rgba(50, 50, 50, 0.5);
        filter: opacity(50%);
    }
        
    .hero__image {
        width: 100%;
        height: 115vh;
        margin-top: 0; /* how to make the image not stretched bigger screen size */
    }
    
    .hero__header {
        font-size: 24px;
        color: $font-color;
        font-family: 'Avenir Next';
        font-weight: bold;
        margin-top: 6vh;
    }
    
    .hero__header-song {
        position: absolute;
        top: 3%;
        left: 5%;
        font-size: 60px;
        line-height: 8vh;
        color: $font-color;
        font-family: 'Avenir Next';
        font-weight: bold;
        font-style: normal;
        line-height: 13vh;
        margin-top: 10vh;
    }
    
    iframe {
        position: absolute;
        margin-left: 5%;
        margin-right: 5%;
        top: 72vh;
        width: 55%; 
        height: 150px; 
    }

    .shows__button {
        width: 180px;
    }

    .footer {
        height: 68%;
        margin-top: 2%;
    }

    .footer__header {
        padding-top: 3vh;
        margin-bottom: 0;
        margin-right: 0;
        width: 300px;
        margin-left: 3.5vw;
        font-size: 38px;
    }

    .footer__container {
        display: inline-block;
    }

    .footer__social {
        margin-left: 40vw;
        margin-top: -2.3rem;
        width: 400px;
    }

    .footer__image {
        height: 22px;
        margin-left: 0;
    }

    .footer__block {
        margin-top: -2.8rem;
    }

    .footer__logo {
        margin-left: 80vw;
        height: 20px;
        display: inline-block;
    }

    .footer__contact {
        display: inline-block;
        margin-top: 6vh;
        margin-left: -1vw;
    }

    .footer__contact-name {
        font-size: 16px;
    }

    .footer__contact-address {
        font-size: 14px;
    }

    .footer__contact-email {
        font-size: 14px;
    }

    .footer__copyright {
        visibility: visible;
        margin-left: 3.6vw;
        font-size: 14px;
    }
}

// media query desktop 1024px

@media only screen and (min-width: 1024px) {
    
    .header__nav-logo {
        padding-top: 3%;
        margin-left: 15vw;
        
    }

    .header__nav-list {
        display: flex;
        justify-content: center;
        margin-left: -5vw;
        margin-top: 1vh;
    }

    .nav__list-item {
        width: 13%;
    }
    
    .nav__link:active,
    .nav__link:hover {
        color: $font-color;
        border-bottom: 5px solid $font-color;
        padding-bottom: 3.5vh;
        width: 60%;
    }

    .hero__overlay:after {
        content:'';
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height: 85vh;
        background: rgba(50, 50, 50, 0.5);
        filter: opacity(50%);
    }
        
    .hero__image {
        width: 100%;
        height: 85vh;
        margin-top: 0; /* how to make the image not stretched bigger screen size */
    }
    
    .hero__header {
        font-size: 22px;
        color: $font-color;
        font-family: 'Avenir Next';
        font-weight: bold;
        margin-top: 12vh;
        left: 15%;
    }
    
    .hero__header-song {
        position: absolute;
        top: 2.5%;
        left: 15%;
        right: 42%;
        font-size: 45px;
        line-height: 8vh;
        color: $font-color;
        font-family: 'Avenir Next';
        font-weight: bold;
        font-style: normal;
        line-height: 10vh;
        margin-top: 15vh;
    }
    
    iframe {
        position: absolute;
        margin-left: 5%;
        left: 56%;
        top: 34vh;
        width: 30%; 
        height: 105px; 
    }

    .footer {
        height: 56%;
        margin-top: 2vh;
    }
    .footer__header {
        margin-left: 12.5vw;
        font-size: 30px;
    }

    .footer__social {
        margin-left: 38vw;
        margin-top: -1.8rem;
        width: 300px;
    }

    .footer__image {
        height: 17px;
        margin-left: -2.5vw;

    }

    .footer__logo {
        margin-left: 79vw;
        height: 15px;
    }

    .footer__contact {
        display: inline-block;
        margin-top: 6vh;
        margin-right: -6vw;
        margin-left: 7.5vw;
    }

    .footer__contact-name {
        font-size: 12px;
        margin-bottom: 2vh;
    }

    .footer__contact-address {
        font-size: 11px;
    }

    .footer__contact-email {
        font-size: 11px;
        margin-top: -0.5vw;
        margin-bottom: -0.5vh;
    }

    .footer__copyright {
        margin-left: 12.5vw;
        font-size: 12px;

    }
}

// media query desktop 1200px

@media only screen and (min-width: 1200px) {
    
    .header__nav-logo {
        padding-top: 2.5%;
        margin-left: 15vw;
        
    }

    .header__nav-list {
        display: flex;
        justify-content: center;
        margin-left: -10vw;
        margin-top: 1.5vh;
    }

    .nav__list-item {
        width: 10%;
    }

    .nav__link:active,
    .nav__link:hover {
        color: $font-color;
        border-bottom: 5px solid $font-color;
        padding-bottom: 3.5vh;
        width: 63%;
    }

    .nav__list-item:active {
        color: $font-color;
        font-weight: 600;
    }

    .hero__header-song {
        position: absolute;
        top: 2.5%;
        left: 15%;
        right: 48%;
        font-size: 47px;
        line-height: 8vh;
        color: $font-color;
        font-family: 'Avenir Next';
        font-weight: bold;
        font-style: normal;
        line-height: 10vh;
        margin-top: 15vh;
    }

    iframe {
        position: absolute;
        margin-left: 5%;
        left: 52%;
        top: 34vh;
        width: 33%; 
        height: 107px; 
    }

    .footer {
        height: 57%;
        margin-top: 2vh;
    }

    .footer__social {
        margin-left: 37vw;
        margin-top: -2rem;
        width: 300px;
    }

    .footer__image {
        height: 18px;
        margin-left: -2.5vw;
    }


    .footer__logo {
        margin-left: 80vw;
    }

    .footer__contact {
        display: inline-block;
        margin-top: 6vh;
        margin-right: -6vw;
        margin-left: 7.5vw;
    }

    .footer__contact-name {
        font-size: 13px;
        margin-bottom: 2vh;
    }

    .footer__contact-address {
        font-size: 12px;
    }

    .footer__contact-email {
        font-size: 12px;
        margin-top: -0.5vw;
        margin-bottom: -0.5vh;
    }

    .footer__copyright {
        margin-left: 12.5vw;
        font-size: 13px;

    }

}

// media query desktop 1440px

@media only screen and (min-width: 1440px) {
    .header__nav-logo {
        padding-top: 2%;
        margin-left: 12.5vw;    
    }

    .header__nav-list {
        display: flex;
        justify-content: center;
        margin-left: -15vw;
        margin-top: 1.8vh;
    }

    .nav__list-item {
        width: 9.5%;
    }

    .nav__link:active,
    .nav__link:hover {
        color: $font-color;
        border-bottom: 5px solid $font-color;
        padding-bottom: 3.5vh;
        width: 63%;
    }

    .hero__header {
        font-size: 22px;
        color: $font-color;
        font-family: 'Avenir Next';
        font-weight: bold;
        margin-top: 12vh;
        left: 12%;
    }
    
    .hero__header-song {
        position: absolute;
        top: 2.5%;
        left: 12%;
        right: 50%;
        font-size: 55px;
        line-height: 8vh;
        color: $font-color;
        font-family: 'Avenir Next';
        font-weight: bold;
        font-style: normal;
        line-height: 12vh;
        margin-top: 15vh;
    }
    
    iframe {
        position: absolute;
        margin-left: 5%;
        left: 47%;
        top: 40vh;
        width: 30%; 
        height: 120px; 
    }

    .footer__social {
        margin-left: 35vw;
        margin-top: -1.8rem;
        width: 400px;
    }
    .footer {
        height: 57%;
        margin-top: 2vh;
    }
    .footer__image {
        margin-left: -2.5vw;
    }

    .footer__logo {
        margin-left: 81.5vw;
    }

    .footer__contact-name {
        font-size: 14px;
        margin-bottom: 2vh;
    }

    .footer__contact-address {
        font-size: 13px;

    }

    .footer__contact-email {
        font-size: 13px;
        margin-top: -0.5vw;
        margin-bottom: -0.5vh;
    }

    .footer__copyright {
        font-size: 14px;
    }
}