@font-face {
  font-family: "Avenir";
  src: url(./fonts/Alternative-files/Linotype-AvenirNextLTProMedium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(./fonts/Alternative-files/Linotype-AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(./fonts/Alternative-files/Linotype-AvenirNextLTProBold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header__nav {
  background-color: #323232;
  margin-bottom: 0;
  height: 80px;
}

.header__nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 5%;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-top: 2vh;
}

.nav__list-item {
  padding-bottom: 2vh;
  height: 3.6vh;
  width: 100%;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 18vw 4vh 15vw;
  font-family: "Avenir";
  font-size: 14px;
  color: #E1E1E1;
}

.nav__link:active,
.nav__link:hover {
  color: #ffffff;
  border-bottom: 5px solid #ffffff;
  padding-bottom: 1.8vh;
  text-transform: uppercase;
  /* i added this effect for the diving deeper section*/
}

.header__nav .header__nav-list {
  list-style-type: none;
}

.nav__list-item .nav__link {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero__overlay {
  position: relative;
}

.hero__overlay:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 83vh;
  background: rgba(50, 50, 50, 0.5);
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.hero__image {
  width: 100%;
  height: 83vh;
  margin-top: 0;
}

.hero__header {
  position: absolute;
  top: 7%;
  left: 5%;
  font-size: 15px;
  color: #ffffff;
  font-family: "Avenir";
  font-weight: bold;
}

.hero__header-song {
  position: absolute;
  top: 13%;
  left: 5%;
  font-size: 36.5px;
  line-height: 8vh;
  color: #ffffff;
  font-family: "Avenir Next";
  font-weight: bold;
  font-style: normal;
}

.shows__header {
  color: #323232;
  font-family: "Avenir Next";
  font-size: 30px;
  margin: 4vh 5vw 6vh 5vw;
}

.shows__date,
.shows__venue,
.shows__location {
  font-family: "Avenir";
  font-size: 16px;
  color: #AFAFAF;
  margin: 4vh 5vw 2vh 5vw;
}

.shows__date-details {
  font-family: "Avenir";
  font-size: 18px;
  color: #323232;
  margin: 2vh 5vw 4vh 5vw;
  font-weight: bold;
}

.shows__venue-details,
.shows__location-details {
  font-family: "Avenir";
  font-size: 15px;
  color: #323232;
  margin: 2vh 5vw 3vh 5vw;
}

.shows__button {
  height: 48px;
  width: 288px;
  margin: 2vh 5vw 2vh 5vw;
  background-color: #323232;
  color: #ffffff;
  font-family: "Avenir";
  font-weight: bold;
  font-size: 15px;
  border: #323232;
  border-radius: 5px 5px 5px 5px;
  /* button isn't clickable*/
}

.shows__button-underline:after {
  content: " ";
  display: block;
  border-bottom: 2px solid #E1E1E1;
  margin: 2vh 5vw 2vh 5vw;
}

.footer {
  background-color: #323232;
  height: 135%;
  margin-top: 15%;
}

.footer__header {
  font-size: 40px;
  color: #ffffff;
  font-family: "Avenir Next";
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 7vh;
}

.footer__image {
  margin-left: 5vw;
  height: 28px;
  padding-right: 5vw;
  padding-bottom: 3vh;
}

.footer__logo {
  display: none;
}

.footer__contact-name {
  color: #ffffff;
  font-family: "Avenir";
  font-size: 14px;
  margin-left: 5vw;
  line-height: 3.5vh;
}

.footer__contact-address {
  font-family: "Avenir";
  font-size: 14px;
  color: #ffffff;
  margin-left: 5vw;
  line-height: 3.5vh;
}

.footer__contact-email {
  font-family: "Avenir";
  font-size: 14px;
  color: #ffffff;
  margin-left: 5vw;
  padding-top: 2vh;
  line-height: 3.5vh;
}

.footer__contact-link {
  text-decoration: none;
}

.footer__copyright {
  font-family: "Avenir";
  font-size: 14px;
  color: #ffffff;
  margin-left: 5vw;
  padding-top: 4vh;
  line-height: 3.5vh;
  width: 70%;
}
/*# sourceMappingURL=shows.css.map */