// variables 

$primary-color: #323232;
$font-color: #ffffff;
$header-font-size: 24px;
$footer-font-size: 14px;
$breakpoint-mobile-medium: 375px;
$breakpoint-mobile-large: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-medium: 1200px;


// media queries

@mixin mobile-medium {
    @media only screen and (min-width: 375px) {
        @content;
    }
}

@mixin mobile-large {
    @media only screen and (min-width: 425px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
